.bread_top {
    border-radius: 20px 20px 0 0;
}

.bread_bottom{
    border-radius: 0 0 5px 5px;
}

.cheesewich {
    background-color: #707070;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: flex-end;
    height: 300px;
    margin: auto;
    overflow: auto;
    padding: 10px;
    text-align: center;
    width: 100%;
}

@media (min-width: 1000px) and (min-height: 700px) {
    .cheesewich {
        width: 700px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .cheesewich {
        width: 450px;
    }
}

@media (min-width: 500px) and (max-height: 400px) {
    .cheesewich {
        width: 350px;
    }
}
