.Button {
    background-color: transparent;
    border: none;
    color: green;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    margin: 10px;
    outline: none;
    padding: 10px;
}

.Button:disabled {
    color: gray;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.green {
    color: #5C9210;
}

.red {
    color: #944317;
}
