.Input {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.InputElement {
    background-color: white;
    border: 1px solid #ccc;
    display: block;
    font: inherit;
    margin: auto;
    outline: none;
    padding: 6px 10px;
    width: 90%;
}

.InputElement:focus {
    background-color: #ccc;
    outline: none;
}

.Invalid {
    border: 1px solid red;
    background-color: #faa298;
}

.Label {
    display: block;
    font-weight: bold;
    margin: 8px;
}
