.optional {
    height: auto;
    margin-top: -14rem;
    width: 80%;
    z-index: 2
}

/*.mustard {*/
/*    background: linear-gradient(#7f3608, #702e05);*/
/*    border-radius: 15px;*/
/*    height: 8%;*/
/*    margin: 2% auto;*/
/*    width: 80%;*/
/*}*/

/*.shallots {*/
/*    background: linear-gradient(#8c331dad,#8c331d73);*/
/*    border-radius: 20px;*/
/*    height: 7%;*/
/*    margin: 2% auto;*/
/*    width: 85%;*/
/*}*/
